@import "../../Variables.scss";

footer {
    width: $defaultWidthDesktop;

    margin: 3rem 0;
    text-align: center;

    span {
        font-size: $fontSize;
        font-family: $font-family;
        text-align: center;
    }
}

@media screen and (max-width: $mobile) {
    footer {
        margin-top: 7rem;
        width: $defaultWidthMobile;
    }
}

.theme-dark {
    footer {
        span {
            color: $veryDarkGrayishBlueDarkTheme1;
        }
    }
}

.theme-light {
    footer {
        span {
            color: $darkGrayishBlueLightTheme;
        }
    }
}